version: '3.8'

services:
  app:
    build: .
    depends_on:
      - neo4j
      - ollama
    env_file: .env
    ports:
      - "8501:8501"
    environment:
      - NEO4J_URI=bolt://neo4j:7687
      - NEO4J_USER=${NEO4J_USER}
      - NEO4J_PASSWORD=${NEO4J_PASSWORD}
      - NEO4J_DATABASE=laptopdatabase
      - GROQ_API_KEY=${GROQ_API_KEY}
      - EMBEDDING_MODEL=${EMBEDDING_MODEL}

  neo4j:
    image: neo4j:latest
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      - NEO4J_AUTH=${NEO4J_USER}/${NEO4J_PASSWORD}
      - NEO4J_initial_dbms_default__database=laptopdatabase
    volumes:
      - neo4j_data:/data

  ollama:
    image: ollama/ollama:latest
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama

volumes:
  neo4j_data:
  ollama_data: